body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.root {
  background-color: #222;
  height: 100%;
  min-height: 100%;
}

.hidden { display: none }

.countdown { padding-top:10em; }
.countdown.pomodoro { color: #F00; }
.countdown.break { color: #0F0; }
.countdown h1 { font-size: 96px }
.countdown h2 { font-size: 64px }
.countdown h1, .countdown h2 { text-align: center; }
